Repository rifat-shaun/vm-server: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --max-warnings=0, prettier --write

fix: eslint errors
  .eslintrc.json
  .lintstagedrc.json
  eslint.config.js
  package-lock.json
  package.json
  src/app.ts
  src/config/swagger.ts
  src/controllers/health.controller.ts
  src/middleware/authenticate.ts
  src/middleware/rateLimiter.ts
  src/middleware/validate.ts
  src/middleware/validateRequest.ts
  src/routes/v1/auth.routes.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: login route vliadtion fix
  eslint.config.js
  nodemon.json
  package.json
  src/config/index.ts
  src/middleware/validateRequest.ts
  src/middlewares/errorHandler.ts
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

fix errors
  src/middlewares/errorHandler.ts
Due: eslint --fix --max-warnings=0

feat: implement tests for auth module
  .eslintignore
  .eslintrc.json
  .lintstagedrc.json
  jest.config.js
  package-lock.json
  package.json
  src/config/swagger.ts
  src/controllers/auth.controller.ts
  src/docs/swagger/auth.yaml
  src/docs/swagger/user.yaml
  src/dtos/auth.dto.ts
  src/middleware/validateRequest.ts
  src/routes/v1/auth.routes.ts
  src/routes/v1/user.routes.ts
  src/services/auth.service.ts
  src/tests/controllers/auth.controller.test.ts
  src/tests/routes/auth.routes.test.ts
  src/tests/services/auth.service.test.ts
  src/tests/setup.ts
  src/utils/server.ts
  src/validations/auth.validation.ts
  tsconfig.eslint.json
  tsconfig.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: duplicate folder remove
  src/app.ts
  src/interfaces/auth.interface.ts
  src/middleware/validateRequest.ts
  src/middlewares/authMiddleware.ts
  src/middlewares/authenticate.ts
  src/middlewares/rateLimiter.ts
  src/middlewares/security.ts
  src/middlewares/validate.ts
  src/middlewares/validateRequest.ts
  src/middlewares/validationMiddleware.ts
  src/routes/v1/auth.routes.ts
  src/routes/v1/index.ts
Due: eslint --fix --max-warnings=0

feat: user profile get api add
  src/controllers/user.controller.ts
  src/docs/swagger/user.yaml
  src/repositories/user.repository.ts
  src/response-schema/user.schema.ts
  src/routes/v1/user.routes.ts
  src/schemas/user.schema.ts
  src/services/user.service.ts
Due: eslint --fix --max-warnings=0

feat: user details api code refactor
  src/controllers/user.controller.ts
  src/interfaces/auth.interface.ts
  src/interfaces/index.ts
  src/interfaces/user.interface.ts
  src/routes/v1/user.routes.ts
  src/services/user.service.ts
Due: eslint --fix --max-warnings=0

fix: env issues
  src/config/env.ts
  src/config/index.ts
  src/docs/swagger/user.yaml
  src/middlewares/authenticate.ts
  src/routes/v1/user.routes.ts
  src/server.ts
Due: eslint --fix --max-warnings=0

feat: update authenticate middleware
  src/controllers/auth.controller.ts
  src/controllers/user.controller.ts
  src/interfaces/user.interface.ts
  src/middlewares/authenticate.ts
  src/services/auth.service.ts
  src/tests/controllers/auth.controller.test.ts
  src/tests/services/auth.service.test.ts
Due: eslint --fix --max-warnings=0

feat: implement test
  src/tests/controllers/user.controller.test.ts
  src/tests/services/user.service.test.ts
Due: eslint --fix --max-warnings=0

feat: update user types
  src/controllers/user.controller.ts
  src/repositories/user.repository.ts
  src/routes/v1/user.routes.ts
  src/services/auth.service.ts
  src/services/user.service.ts
  src/types/user.d.ts
Due: eslint --fix --max-warnings=0

feat: implement user data update swagger docs
  src/docs/swagger/auth.yaml
  src/docs/swagger/user.yaml
  src/validations/user.validation.ts
Due: eslint --fix --max-warnings=0

feat: forgot password routes implementation
  package-lock.json
  package.json
  src/controllers/auth.controller.ts
  src/docs/index.ts
  src/response-schema/auth.schema.ts
  src/routes/v1/auth.routes.ts
  src/services/auth.service.ts
  src/services/email.service.ts
  src/utils/errors.ts
  src/utils/otp.ts
  src/validations/auth.validation.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: update swagger documentation
  src/app.ts
  src/config/swagger.ts
  src/docs/swagger.json
  src/docs/swagger/auth.json
  src/docs/swagger/auth.yaml
  src/docs/swagger/common.json
  src/docs/swagger/index.ts
  src/docs/swagger/user.json
  src/docs/swagger/user.yaml
Due: eslint --fix --max-warnings=0, prettier --write

fix: security middleware issue
  src/app.ts
  src/middlewares/security.ts
Due: eslint --fix --max-warnings=0

feat: update readme
  README.md
Due: prettier --write

feat: implement rate limiter
  src/routes/v1/index.ts
Due: eslint --fix --max-warnings=0

feat: interface code refactor
  src/interfaces/index.ts
  src/interfaces/user.interface.ts
  src/repositories/user.repository.ts
  src/services/auth.service.ts
  src/services/user.service.ts
  src/types/user.d.ts
Due: eslint --fix --max-warnings=0

feat: auth module code refactor
  src/repositories/user.repository.ts
  src/services/auth.service.ts
  src/tests/services/auth.service.test.ts
Due: eslint --fix --max-warnings=0

feat: refactor user module code
  src/controllers/user.controller.ts
  src/response-schema/auth.schema.ts
  src/response-schema/base.schema.ts
  src/response-schema/index.ts
  src/response-schema/user.schema.ts
  src/services/user.service.ts
Due: eslint --fix --max-warnings=0

fix: issues
  .DS_Store
  prisma/seed.ts
  src/app.ts
  src/config/index.ts
  src/middlewares/security.ts
  src/routes/v1/admin.routes.ts
  src/tests/routes/auth.routes.test.ts
  src/utils/server.ts
Due: eslint --fix --max-warnings=0

fix: cors error
  src/app.ts
Due: eslint --fix --max-warnings=0

feat: add session verification route
  src/controllers/auth.controller.ts
  src/response-schema/auth.schema.ts
  src/routes/v1/auth.routes.ts
  src/services/auth.service.ts
Due: eslint --fix --max-warnings=0

feat: use dot env
  src/config/index.ts
Due: eslint --fix --max-warnings=0

feat: allow all origin
  src/config/index.ts
Due: eslint --fix --max-warnings=0

feat: base url issue
  src/config/index.ts
  src/docs/swagger/index.ts
Due: eslint --fix --max-warnings=0

fix: issues
  src/app.ts
Due: eslint --fix --max-warnings=0

fix: issue
  src/app.ts
Due: eslint --fix --max-warnings=0

fix: issues
  src/middlewares/rateLimiter.ts
Due: eslint --fix --max-warnings=0

feat: check user swager documentation add
  .husky/pre-commit
  src/controllers/auth.controller.ts
  src/docs/swagger/auth.json
  src/routes/v1/auth.routes.ts
  src/services/auth.service.ts
  swagger_clean.json
  swagger_output.json
Due: eslint --fix --max-warnings=0, prettier --write

feat: login api refactor
  src/docs/swagger/auth.json
  src/interfaces/user.interface.ts
  src/services/auth.service.ts
  src/validations/auth.validation.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: company create api add
  src/docs/swagger/company.json
  src/docs/swagger/index.ts
  src/response-schema/company.schema.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: create branch api add
  src/controllers/branch.controller.ts
  src/interfaces/branch.interface.ts
  src/interfaces/index.ts
  src/repositories/branch.repository.ts
  src/repositories/company.repository.ts
  src/repositories/index.ts
  src/response-schema/branch.schema.ts
  src/response-schema/index.ts
  src/services/branch.service.ts
  src/services/index.ts
  src/utils/errors.ts
  src/validations/branch.validation.ts
  src/validations/index.ts
Due: eslint --fix --max-warnings=0

feat: branch create api swagger doc add
  src/controllers/index.ts
  src/docs/swagger/branch.json
  src/docs/swagger/index.ts
  src/routes/v1/branch.routes.ts
  src/routes/v1/index.ts
Due: eslint --fix --max-warnings=0, prettier --write

feat: autherntication add to private routes
  src/routes/v1/index.ts
  src/routes/v1/user.routes.ts
Due: eslint --fix --max-warnings=0

feat: send email
  src/controllers/auth.controller.ts
  src/services/auth.service.ts
  src/services/email.service.ts
Due: eslint --fix --max-warnings=0

Path conditions:
  eslint --fix --max-warnings=0: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{json,md}
